Hello World
<ul>
  <% @questions.each do |question| %>
    <li>
      <p><%= question.category.name %></p>
      <p><%= question.content %></p>
      <p><%= question.difficulty %></p>
      <p><%= question.answer %></p>
    </li>
  <% end %>
</ul>
