<h1>Welcome to Iron Quiz!</h1>
<p>Hopefully you're half way intelligent!</p>


<a href="#/game">Play Game</a>

<%= link_to "Add Categories", categories_path %>
<%= link_to "Add Questions", questions_path %>


<ng-view>


</ng-view>

