<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->


<!-- <a href="#/game" class:"input" >Play Game</a>

<%= link_to "Add Categories", categories_path, class: "label" %>
<%= link_to "Add Questions", questions_path %> -->

<%- if user_signed_in? %>

	<ng-view>


	</ng-view>

<%- else %>

	<div>
		<%= link_to "SIGN UP TO BEGIN TO PLAY", new_user_registration_path, class:"labeltextone" %>
	</div>

<% end %>

