<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<a href="#/game">Play Game</a>

<%= link_to "Add Categories", categories_path %>
<%= link_to "Add Questions", questions_path %>


<ng-view>


</ng-view>

