// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.standard-text {
  color: #333;
}

.panel:hover {
  -moz-box-shadow: 10px 10px 30px #000000;
  -webkit-box-shadow: 10px 10px 30px #000000;
  box-shadow: 6px 6px 19px #000000;
  transition: none;
}

.question-panel a {
  text-decoration: none;
}